<nav>
  <div class="logo">Foodie</div>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/menu" routerLinkActive="active">Go to Menu</a></li>
    <li><a routerLink="/view-cart" routerLinkActive="active">View Cart</a></li>
    <li><a routerLink="/view-orders" routerLinkActive="active">Orders</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
    
  </ul>
  <div class="btn-group">
    <button class="btn-login" routerLink="/login">Login</button>
    <button class="btn-register" routerLink="/register">Register</button>
  </div>
</nav>
