nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #faf5ee;
    position: relative;
    z-index: 1000; /* Ensure the navbar is on top of other content */
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer; /* Ensures the cursor changes on hover */
}

nav ul li a:hover {
    color: #ff6347; /* Optional: Adds a hover effect for better UI */
}
