body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff5e4;
    color: #333;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:#faf5ee;
  }
  
  nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  
  .btn-reserve {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  
  