/* src/app/components/menu/menu.component.css */
.menu-container {
  padding: 20px;
  background-color: #faf5ee;
  text-align: center;
}

.menu-title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.menu-description {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.menu-categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.category-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff6347;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #e55335;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-item {
  width: 300px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu-image {
  width: 100%;
  border-radius: 10px;
}

.menu-name {
  font-size: 1.5em;
  margin-top: 10px;
  color: #333;
}

.menu-category {
  color: #ff6347;
  font-weight: bold;
  margin: 5px 0;
}

.menu-price {
  font-size: 1.2em;
}

.current-price {
  color: #ff6347;
  font-weight: bold;
}

.btn-add-to-cart {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-add-to-cart:hover {
  background-color: #e55335;
}
